@import url('https://smc.org.in/fonts/meera.css');
html { font-family: 'Meera', sans-serif; } div {
    color:#000000;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}
div.p {
    background-color:#87CEEB;
}
div.a {
    background-color:#F08080;
}
div.h {
    background-color:#7CFC00;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5px;
    margin-right: 0px;
}
p {
    margin-left: 40px;
    margin-right: 20px;
    display: block;
}
body {
  background-color: #DCDCDC;
  font-size: 30px;
}
